*{
	margin:0;
	padding:0;
}
body {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: normal;
    background-color: #E2E3E5;
    color: #333;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    font-weight: 100;
}
p, button, h1, h2, h3, h4, h5, h6, span, div{
    -webkit-user-select: none;
   -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.color{
	color:#3B57EC;
}
.block {
    display: block;
    width: calc(100% - 20px);
    height: auto;
    padding: 20px 0 20px 20px;
    background-color: #FFF;
    overflow: hidden;
}
.block .block-inner {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.005);
    border-radius: 4px;
}
.block .left {
    width: 280px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    top: -50%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    padding: 0 20px;
    min-width: 280px;
}
.block .left h1 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.block .left button {
    display: block;
    background-color: #3B57EC;
    border-radius: 4px;
    font-size: 13px;
    margin: 10px auto 0;
    padding: 10px;
    cursor: pointer;
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border: none;
}
.block .left button:hover{
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .12);
}
.block .right {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 335px);
    position: relative;
    min-width: 320px;
    background-color: #fff;
    padding-left: 10px;
    overflow:hidden;
}
.block .right .nav {
    position: absolute;
    top: 45%;
    line-height: 0;
    vertical-align: middle;
    padding: 20px 10px;
    box-shadow: 0px 0px 2px #333;
    text-align: center;
    background-color: #FFF;
    cursor: pointer;
    z-index: 999;
    display: block;
}
.block .right .nav:last-of-type{
	right:0;
}
.block .right .book {
    width: 160px;
    position: relative;
    margin: auto 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.block .right .book:hover{
    border:1px solid #999;
}
.owl-stage{
	padding:5px 0;
}
.book .cover {
    width: 100%;
    overflow: hidden;
    height: 180px;
    position: relative;
    text-align: center;
}
.book .cover img {
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    object-position: 50% 50%;
}
.book .info {
    padding: 5px;
    color: #333;
    text-align: left;
    border-top: 1px solid #ccc;
}
.book .info h3,
.book .info h5,
.book .info h6{
	width:100%;
	display:inline-block;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#333;
    font-size:14px;
}
.block .right .book:hover .info h3{
    color:#3B57EC;
} 
.book .info h6 {
    color:#ccc;
    text-align: left;
    padding-top: 10px;
    font-size: 10px;
}
.book .info h3{
    max-height:46px;
    font-size:18px;
}
.book .info h5 span.author, .book .info h5 span.readers {
    width: 74px;
    display: inline-block;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: #777;
}
.book .info h5 span.readers{
	text-align:right;
    color:#3B57EC;
}
.owl-carousel .owl-nav{
	opacity:1;
	cursor:default;
	display:block;
    position:relative;
}
.owl-carousel .owl-nav .prev,
.owl-carousel .owl-nav .next {
    position: absolute;
    display: inline-block;
    width: auto;
    padding: 16px 12px;
    border: 1px solid #ccc;
    border: 0;
    border-radius: 0 4px 4px 0;
    top: -175px;
    background-color: #fff;
    left: -10px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    box-sizing:border-box;
    opacity:0.98;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
}
.owl-carousel .owl-nav .prev:hover,
.owl-carousel .owl-nav .next:hover{
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .3);
    opacity:1;
}
.owl-carousel .owl-nav .next{
    left:auto;
    right:0;
    border-radius: 4px 0 0 4px;
}
.owl-item {
    width: auto !important;
    margin: auto;
}
.owl-dots{
    display:none;
}

/*css media queries*/

@media only screen and (max-width: 960px) {
    .block {
        width: calc(100% - 40px);
        padding: 20px;
    }
    .block .left {
        width: 100%;
        top: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        text-align: left;
        padding: 0;
    }
    .block .left h1 {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        float: left;
        width: calc(100% - 100px);
    }
    .block .left button {
        display: inline-block;
        vertical-align: middle;
        margin: auto;
        float: right;
        position: relative;
    }
    .block .right{
        width:100%;
        padding:0;
    }
    .owl-carousel .owl-nav .prev{
        left:0;
    }
}
@media only screen and (max-width: 480px){
    .block .right {
        min-width: auto;
    }
}